body{
    /* height: 100vh; */
    font-family: Montserrat;
    background-color: #EEEEEE;
    max-width: 100vw;
  }
  
  .App{
    background-color: #EEEEEE;
  }
  p{
    margin-bottom: 0.4em;
  }
/* home */
  .home{
    width: 80%;
    margin: auto auto;
    margin-top: 60px ;
  }
  .homeHeading{
    width: 60%;
    margin-top: 100px;
    height: 90vh;
  }
  .homeHeading>h1{
    font-size: 3.4rem;
    font-weight: 600;
  }
  .sideimg{
    position: absolute;
    right: 50px;
    top: 20px;
    z-index: -1000;
  }
  .home .ant-btn{
    border-radius: 10px;
    border: 2px solid #2785FC;
    width: 150px;
    height: 40px;
    padding-top:4px;
    margin-top: 40px;
    font-weight: bold;
    border: none;
  }

.home-procedure{
 min-height: 90vh;
}
.homecar-image{
  text-align: center;
  margin-bottom: 40px;
  /* overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth; */

}
.homecar-image>img{
  width: 80%;
  height: auto;
  max-width: 1000px;
  /* min-width: 577px; */
  white-space: nowrap;
}
.home-procedure .ant-row .ant-col-12:nth-child(1){
  text-align: right;
  padding-right: 20px;
}

  .homeCard{
    width: 50%;
    height: 300px;
    margin: auto auto;
  }
  .home .ideaCards{
    margin-top: 60px;
  }
  .ideaCards>.ant-col{
      margin-bottom: 60px ;
  }

  /* trending */
  .home-trending{
   min-height: 60vh;
  }

  .trending-cards{
    height: 370px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .trending-cards::-webkit-scrollbar{
    display: none;
  }
  .trending-cards .ant-card{
    height: 340px;
    width: 300px;
    display: inline-table;
    margin: 20px 20px 20px 0px;
    border-radius: 58px;
    border: 1px solid #2785FC;
    cursor: pointer;
  }

  .trending-cards .ant-card *{
    white-space: normal;
  }
  .trending-cards .ant-card .idea-desc{
    height: 150px;
  }
  .trending-cards .ant-card-body{
    height: 100%;
    padding-top: 50px;

  }
  @media(max-width:992px){
    .homeHeading{
      width: 100%;
    }
    .homeCard{
      width: 80%;
    }
    .sideimg{
      opacity: 0.5;
      width: 300px;
      height: auto;
    }
  }
  @media(max-width: 768px){
    .homeHeading>h1{
      font-size: 3rem;
    }
    .homeCard{
      width: 95%;
    }
    .homeHeading{
      margin-top: 150px;
      height: auto;
      margin-bottom: 150px;
    }
    .sideimg{
      width: 200px;
    }
    .home-procedure{
      min-height: 400px;
      height: auto;
      margin-bottom: 50px;
     }
  }
  @media(max-width: 400px){
    .homeHeading>h1{
      font-size: 2rem;
    }
    .trending-cards .ant-card{
      width: 250px;
      height: 340px;
    }
    /* .trending-cards .ant-card .idea-desc{
      height: 125px;
    } */
    .trending-cards .ant-card-body{
      height: 100%;
      padding-top: 30px;
    }
  .home .ant-btn{
    width: 125px;
    height: 40px;
    padding: 4px 7px 4px 7px;
  }

  }

  /* nav */
  .navs{
      float: left;
  }
  .navz img{
    width: 125px;
    height: auto;
  }

  .ant-menu{
    box-shadow: 0px 4px 8px #00000029;
  }

  .ant-menu-item-selected a{
    color: black !important;
  }
  .ant-menu-item-active a{
    color: black !important;
  }

  .profile{
      cursor: pointer;
      float: right;
      text-align: center;
  }
  .profile p{
    margin-bottom: 0px;
  }
  .l p{
    color: #2785FC;
  }
  .l>p>img{
    width: 17px;
    height: auto;
    margin-bottom: 2px;
  }

/* Ideas page css */
.main{
  margin-top: 60px;
}
  .countryCss{
    text-align: center;
    margin-bottom: 40px;
    width: 90%;
    max-width: 700px;
    margin: auto;
  }
  .countryCss .ant-input{
      width: 80%;
      margin: auto auto;
      box-shadow: 0px 2px 3px lightgray;
      border: none;
      border-radius: 14px;
      height: 74px;
  }
  /* .countryCss .ant-select .ant-select-selector{
      border-radius: 14px;
      height: 100%;
      border: none;
  }
  .ant-select-selection-placeholder, .ant-select-selection-item{
      padding-top: 21px !important;
      color: #000000;
      text-align: left;
      font-size: 20px;
  }
  .ant-select-selection-search-input{
      height: 100% !important;
  }
  .ant-select-dropdown{
    border-radius: 14px;
  } */
  
  /* cards css */
  .IdeaCards{
    margin-top: 40px;
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    min-height: 60vh;
  }
  .IdeaCards h2, p, h3{
    margin-bottom: 2px;
  }

  .IdeaCards span{
    font-size: 13px;
  }
  .vote>*{
    display: block;
    margin: 5px 0px;
  }
  .vote{
    text-align: center;
   margin-top: 4px;
   padding-left: 0px !important;
  }
  .vote>span{
    cursor: pointer;
  }
  .ant-card{
    box-shadow: 0px 2px 3px lightgray;
    border: none;
    border-radius: 14px;
    margin-bottom: 30px;
  }
  .commentAdd{
    font-weight: bold;
  }
  .sideaOpener{
    cursor: pointer;
  }
  .card-cont>div>h2{
    color: #2785FC;
    font-weight: 600;
  }
  .uhh{
    text-align: center;
  }
 hr{
   width: 91.76%;
   margin: auto auto;
   color: #f9f9f9;
   /* box-shadow: 0px 0px 3px lightgray ; */
 }
 .ant-input-affix-wrapper{
   border: none;
   padding: 4px 4px;
 }
 .ant-input-affix-wrapper .ant-input::placeholder{
  font-weight: bold;
}
.mainReply{
  margin-top: 20px;
}
.subReply{
  margin: 5px 10px !important;
}


/* form css */
.formholder{
  width: 95%;
  max-width: 700px;
  margin: auto auto
}
.formholder h2{
  color: #2785FC;
  font-weight: 600;
  margin-top: 20px;
}
.formholder>h2{
  text-align: center;
  margin-bottom: 50px;
}
.formholder .ant-input{
  border-radius: 10px;
  border: 2px solid #2785FC;
}
.formholder .ant-btn{
  border-radius: 10px;
  border: 2px solid #2785FC;
  width: 300px;
  height: 60px;
margin: auto auto;
}
@media(max-width:768px){
.formholder .ant-btn{
  width: 150px;
  height: 50px;
}
}
.formholder .ant-form-item-control-input-content{
  text-align: center;
}

/* react alert css */
#__react-alert__>div>div>div{
  background-color: #ffffff !important;
  border-radius: 14px !important;
  border: none;
  box-shadow: 0px 0px 5px lightgray !important;
  color: #000000 !important;
  z-index: 1002;
}
.sikebich>.ant-form-item{
  margin-bottom: 0px;
}

.loadingIcon{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(175,175,175, 0.6);

  text-align: center;
  z-index: 2000;
}
.loadingIcon>*{
  z-index: 2001;
  height: 100%;
}
.loadingIcon>div>svg{
  position: fixed;
  top:50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
.loadingIcon2>div{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}
.loadingIcon2>div>svg{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

/* admin panel css */
.adminlogin{
  width: 60%;
  margin: auto auto;
  margin-top: 50px;
}
.admin{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.admin>button{
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgray;
}

.paginationDiv{
  text-align: center;
  margin-bottom: 50px;
}
@media(max-width:475px){
  .ant-dropdown{
    right: 0px !important;
    top: 50px !important;
  }
  .ant-dropdown-menu-item{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
  .ant-dropdown-menu{
    background-color: #FF4242;
    border-radius: 10px;
    box-shadow: 0px 3px 1px #FF4242;
  }
  .homecar-image>img{
    width: 95%;
  }
}

.grecaptcha-badge{
  display: none !important;
}

.tagStyle{
  color: #2785FC;
  opacity: 0.6;
  font-style: italic;
  font-size: 12px;
}

.ant-tag-blue{
  border-radius: 10px;
}